.ad_b_main {
  text-align: center;
  color: #ffffff;
}

.ad_b_main .mainTitle{
  font-size: 50px;
}

.ad_b_main hr{
    border: solid 1px #FFFFFF;
}

.ad_formContainer{
text-align: left;
}

.ad_formContainer{
    margin: 25px auto;
    padding: 15px;
}

.ad_formContainer img{
  max-height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.AD_B_htmlEditor{
color: #000000;
}

.AD_B_htmlEditor label{
color: #FFFFFF;
}

.AD_B_htmlEditor .wrapperClassName{
  background-color: #00000055;
  color: #FFFFFF;
  padding: 8px 10px;
}

.bp_content_toolbar{
  color: #000000;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF;
  z-index: 1000;
}