.home_newBanner {
  display: flex;
  flex-direction: row;
}

.home_newBanner .bigBanner {
  width: calc(100% - 250px);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.home_newBanner .bigBanner img {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 5px;
}

.home_newBanner .bigBanner img {
}

.home_newBanner .bigBanner p {
  width: 85%;
  text-align: left;
  max-lines: 3;
  max-height: 70px;
  overflow: hidden;
}

.home_newBanner .tiles {
  width: 250px;
  padding: 5px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.home_newBanner .tiles img {
  /* width: 100%; */
}

.home_title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}
.home_banner_back {
  overflow: hidden;
  height: 20.23vw;
}
.home_banner {
  width: 100%;
  object-fit: contain;
  object-position: center;
  transition-duration: 0.5s;
  float: left;
  position: relative;
  top: 0px;
  height: 20.23vw;
  transform: translateY(400px);
}

.home_header {
  text-align: center;
  color: #ffffff;
  background-color: #00000044;
  padding: 75px 25px;
  margin-bottom: 45px;
}

.home_header h1 {
  /* font-family: "Roboto"; */
  font-size: 50px;
}

.home_header p {
  /* font-family: "Roboto"; */
  font-size: 18px;
  max-width: 500px;
  margin-top: 50px;
}

.home_container {
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #00000055;
  border-radius: 5px;
  min-height: 400px;
  padding: 5px 5px;
  /* height: 100%; */
  margin-bottom: 35px;
  /* margin-top: 35px; */
}

.home_container h1 {
  font-size: 25px;
  margin-bottom: 15px;
  /* font-family: "Roboto"; */
}

.home_container h5 {
  text-align: left;
  font-size: 14px;
  margin-bottom: 15px;
  /* font-family: "Roboto"; */
  margin-bottom: 5px;
}

.home_container hr {
  margin-top: 8px;
  border-color: #ffffff;
}

.homeAdvertiesment {
  background-color: #9b9b9b;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  text-align: center;
  color: rgb(199, 199, 199);
}

@media (max-width: 992px) {
  .home_newBanner .bigBanner {
    display: none;
  }
}
