.home_title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
}
.home_banner_back {
  overflow: hidden;
  height: 20.23vw;
}
.home_banner {
  width: 100%;
  object-fit: contain;
  object-position: center;
  transition-duration: 0.5s;
  float: left;
  position: relative;
  top: 0px;
  height: 20.23vw;
  transform: translateY(400px);
}

.home_header {
  text-align: center;
  color: #ffffff;
  background-color: #00000044;
  padding: 75px 25px;
  margin-bottom: 45px;
}

.home_header h1 {
  font-family: "Almendra SC";
  font-size: 50px;
}

.home_header p {
  font-family: "Almendra SC";
  font-size: 18px;
  max-width: 500px;
  margin-top: 50px;
}

.home_container {
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #00000055;
  border-radius: 5px;
  min-height: 400px;
  padding: 15px 15px;
  height: 100%;
}

.home_container h1 {
  font-size: 25px;
  margin-bottom: 15px;
  font-family: cursive;
}

.home_container h5 {
  text-align: left;
  font-size: 14px;
  margin-bottom: 15px;
  font-family: cursive;
  margin-bottom: 5px;
}

.home_container hr {
  margin-top: 8px;
  border-color: #ffffff;
}

.homeAdvertiesment {
  background-color: #9b9b9b;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 450px;
  text-align: center;
  color: rgb(199, 199, 199);
}
