.LeaguesContainer {
  /* padding-top: 25px; */
  padding: 0px;
  /* padding-bottom: 100px; */
  overflow: hidden;
  transition-duration: 0.5s;
}

.LeaguesContainer .col-sm-4 {
  padding: 0px;
}

.LeagueCard {
  background-color: #00000055;
  /* background: linear-gradient(45deg, #00000088 45%,#00000088 50%, #00000088 55% ); */
  border-radius: 8px;
  margin: 5px;
  min-height: 230px;
  padding: 25px 15px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.3s;
}

.LeagueCard:hover {
  background-color: #00000088;
  box-shadow: 0px 0px 15px rgba(29, 65, 131, 0.63);
}

.LeagueCard img {
  width: 100%;
  height: 75px;
  object-fit: contain;
  margin-bottom: 50px;
}
