body {
  background: #16222a; /* fallback for old browsers */
  background: linear-gradient(to right, #3a6073dd, #16222add),
    url("https://cdn.wallpapersafari.com/3/24/RnzoUB.jpg");

  font-family: "Almendra SC";
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.App {
  padding-top: 100px;
}

.row {
  margin-left: auto !important;
  margin-right: auto !important;
}

a:hover{
  text-decoration: none !important;
}
