body {
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a6073, #16222a);

  font-family: "Almendra SC";
}

.App {
  padding-top: 100px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}
