.es_footer {
  /* width: 100vw; */
  background-color: #000000aa;
  color: #ffffff;
  padding: 25px 0px 0px 0px;
  text-align: center;
}

.es_footer .row {
  margin-left: auto !important;
  margin-right: auto !important;
}

.es_footer ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding-left: 0px;
}

.es_footer ul li {
  margin-left: 0px;
  font-size: 14px;
}

.es_footer ul li a {
  margin-left: 0px;
  font-size: 14px;
  color: #ffffff;
}

.es_footer h5 a {
  margin-left: 0px;
  /* font-size: 14px; */
  color: #ffffff;
}

.es_footer p {
  letter-spacing: 3px;
  margin-bottom: 5px;
  font-size: 12px;
}

.es_footer p:nth-child(1) {
  margin-top: 15px;
}
